*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
}

.calendar{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 10px
}
.monthYear{
    text-align: center;
    font-weight: 600;
    width:150px;

}
.header button{
    display: flex;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(5, 5, 5, 0.3);
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 5px;
    color:gray;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;  
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0,9s;
}

.date:hover,.date.active{
    background: #ff5869;
    color: #fff;
}

.clock{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.date.inactive {
    color: #ccc; 
}